@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var ctaTitle = Model.MacroParameters["cTATitle"] as string;
    var ctaText = Model.MacroParameters["cTAText"] as string;
    var ctaLinkUdi = Model.MacroParameters["cTALink"];
    var ctaLink = Umbraco.Content(ctaLinkUdi);
}

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">@ctaTitle</h1>
                <p class="lead">@ctaText</p>
                
                <!-- Button or Link to CTA -->
                @{
                    if (ctaLink != null)
                    {
                    <a href="@ctaLink.Url"  class="btn btn-outline-secondary">@ctaLink.Name</a>
                    }
                }
            </div>
        </div>
    </div>
</section>