@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models
@{
    var usefulLinks = Model.Content.Value<IEnumerable<IPublishedElement>>("linkNestedContent");
}

@if(usefulLinks != null){

    <div class="container mt-4 mb-4">
        <h2>Useful Links</h2>
        <ul class="list-group">
            @foreach(var link in usefulLinks){
                var url = link.Value<Link>("linkUrl").Url;
                
                <li class="list-group-item">
                    <a target="_blank" href="@url"><i class="@link.Value("linkIcon")"> </i> @link.Value("linkText")</a>
                </li>
            }
        </ul>
        <hr>
    </div>
    
}