@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticles2>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.Name</h1>
        </div>
    </div>
</div>
