@inherits Umbraco.Web.Mvc.UmbracoViewPage
<style>
    .home-hero{
        background: no-repeat center center;
        color: white;
        background-attachment: scroll;
        position: relative;
        background-size: cover;
        height: 30%;
    }
    
    .home-hero > .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(31,3,103,0.50);
    }
    
    .inner{
        top: 25%;
        position: relative;
        z-index: 2;
    }
    
</style>

<div class="jumbotron jumbotron-fluid home-hero" style="background-image: url(@Model.Value("heroImage"))">
    <div class="overlay">
        <div class="inner">
            <div class="container">
                <h1 class="display-4">@Model.Value("message")</h1>
                <p class="lead">@Model.Value("heroSubtitle")</p>
            </div>
        </div>
    </div>
</div>